{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["react-intl", {
      "messagesDir": "./src/translations/extractedMessages"
    }]
  ]
}
