.story-builder__place {
  text-align: center;
  margin: 1rem 0 2rem;
  font-weight: 200;
}

.story-builder__place .ql-editor {
  font-size: 2rem;
  text-align: center;
  padding: 0;
}

.story-builder__place .ql-editor.ql-blank::before {
  width: 100%;
  left: 0;
}

.story-builder__place .ql-editor.ql-blank:focus::before {
  visibility: hidden;
}
