.image-story-item__uploader {
  margin-bottom: 1rem;
}

.image-story-item__image-wrapper {
  min-width: 250px;
  min-height: 250px;
  display: inline-block;
  position: relative;
}

.image-story-item__image-wrapper img {
  max-height: 400px;
  transition: opacity 200ms;
}

.image-story-item__upload-button {
  position: absolute;
  z-index: 2;
  top: calc(50% - 26px);
  right: calc(50% - 25px);
  cursor: pointer;
}

img + .image-story-item__upload-button {
  opacity: 0;
  visibility: hidden;
  transition: all 250ms;
}

img:hover + .image-story-item__upload-button,
img + .image-story-item__upload-button:hover {
  opacity: 0.5;
  visibility: visible;
}

.image-story-item__remove-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.image-story-item__upload-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--cf-primary-color, #E7472E);
  transition: all 200ms;
}
